.header-container {
    padding: 0 25px;
    max-height: 70px;
}

.header-content-left {
    padding: 0;
}

.header-link ul {
    align-items: center;
}

.header-link li a {
    padding: 26px 20px;
    display: inline-block;
}

li .underline {
    background-color: blue;
    width: 0%;
    height: 3px;
}

.header-link a:hover + .underline {
    animation-name: link-underline;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

@keyframes link-underline {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.white-button {
    border-radius: 5px;
    transition: border-radius .3s;
}

.white-button:hover {
    border-radius: 15px;
    color: grey;

}

.blue-button {
    border-radius: 5px;
    transition: background-color .3s;
    transition: border-radius .3s;
}

.blue-button:hover {
    background-color: #527bf7;
    border-radius: 15px;
}



.radio-input {
    border-radius: 50%;
}

.default {
    width: 20px;
    height: 20px;
    border: 1px solid lightgrey;
    margin-right: 5px;
}

.blue-radio {
    display: none;
    width: 20px;
    height: 20px;
    background-color: blue;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.white-radio {
    display: none;
    background-color: white;
    width: 10px;
    height: 10px;
}

.radio-input:hover {
    border: none;
}

.radio-input:hover .blue-radio{
    display: flex;
}

.radio-input:hover .white-radio{
    display: block;
}

.question {
    padding: 0;
    position: relative;
    transition: padding-bottom .3s;
}

.question-box {
    justify-content: space-between;
    padding: 2rem 0;
    background-color: white;
}

.fa-angle-up {
    display: none
}

.answer {
    position: absolute;
    top: 0px;
    z-index: -2;
    transition: top .6s;
}

.question:hover {
    padding-bottom: 100px;
}

.question:hover .answer {
    top: 100px;
}

.question:hover .fa-angle-down {
    animation-name: arrow-rotate;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes arrow-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

/* .question:hover .fa-angle-up {
    display: block;
} */

.foot-col a:hover {
    text-decoration: underline;
}

.green.bord-lightgreen{
    border: 30px solid #A4D49E;
}

.green.bord-lightgreen:hover {
    border: 30px solid #D2EACE;
}

.brown {
    border: 30px solid #5F062B;
}

.brown:hover {
    border: 30px solid #8a3057;
}

.ciano {
    border: 30px solid #2891CB;
}

.ciano:hover {
    border: 30px solid #6bb1d6;
}

.red {
    border: 30px solid #F91B26;
}

.red:hover {
    border: 30px solid #f57077;
}

.darkred {
    border: 30px solid #D00025;
}

.darkred:hover {
    border: 30px solid #c4566a;
}

.partner.bg-blue {
    border: 30px solid #B6CFE6;
}

.partner.bg-blue:hover {
    border: 30px solid #d8e7f5;
}

.blue {
    border: 30px solid #171D7E;
}

.blue:hover {
    border: 30px solid #3c419e;
}

.yellow {
    border: 30px solid #FCDA48;
}

.yellow:hover {
    border: 30px solid #fdea96;
}

.col-default {
    display: none;
}