.header-container {
    max-height: 70px;
}

.header-link li a {
    padding: 26px 20px;
}


.header-link a:hover {
    border-bottom: 3px solid blue;
}

.blue-button:hover {
    background-color: #527bf7;
}

.white-button:hover {
    color: grey;
}

.radio-input {
    border-radius: 50%;
}

.default {
    width: 20px;
    height: 20px;
    border: 1px solid lightgrey;
    margin-right: 5px;
}

.blue-radio {
    display: none;
    width: 20px;
    height: 20px;
    background-color: blue;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.white-radio {
    display: none;
    background-color: white;
    width: 10px;
    height: 10px;
}

.radio-input:hover {
    border: none;
}

.radio-input:hover .blue-radio{
    display: flex;
}

.radio-input:hover .white-radio{
    display: block;
}

.question-hover {
    justify-content: space-between;
}

.fa-angle-up {
    display: none
}

.answer {
    padding-top: 2rem;
    display: none;
}

.question:hover .answer {
    display: block;
}

.question:hover .fa-angle-down {
    display: none;
}

.question:hover .fa-angle-up {
    display: block;
}

.foot-col a:hover {
    text-decoration: underline;
}

.bord-lightgreen {
    border: none;
}

.green.bord-lightgreen:hover {
    border: 20px solid #D2EACE;
}

.brown:hover {
    border: 20px solid #8a3057;
}

.ciano:hover {
    border: 20px solid #6bb1d6;
}

.red:hover {
    border: 20px solid #f57077;
}

.darkred:hover {
    border: 20px solid #c4566a;
}

.partner.bg-blue:hover {
    border: 20px solid #d8e7f5;
}

.blue:hover {
    border: 20px solid #3c419e;
}

.yellow:hover {
    border: 20px solid #fdea96;
}

.col-default {
    display: none;
}