* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

.d-flex {
    display: flex;
}

.header-container {
    justify-content: space-between;
    padding: 5px 25px;
}

.header-content-left, .header-content-right {
    padding: 16px 0;
    align-items: center;
}

.header-logo {
    padding-right: 20px;
}

.header-link ul {
    list-style: none;
}

.header-link li a {
    text-decoration: none;
    color: black;
    padding: 20px;
}

.button .blue-button {
    background-color: #2259F8;
    padding: .5rem 1rem;
    color: white;
    text-decoration: none;
    text-align: center;
}

.jumbo-section {
    background-color: #B6CFE6;
    padding-top: 40px;
    margin-bottom: 5rem;
}

.large-container {
    width: 1000px;
    margin: auto;
    position: relative;
    top: 4rem;
}

.jumbo-title {
    padding-bottom: 2rem;
    font-size: 35px;
}

.jumbo-content {
    flex-direction: row-reverse;
}

.col-left {
    width: 70%;
}

.col-left img {
    width: 100%;
}

.col-right {
    width: 30%;
}

.col-right .button {
    padding: 30px 0;
}

.col-right span {
    display: block;
    padding-bottom: 4rem;
}

.section {
    padding: 2rem 0;
}

.container {
    width: 800px;
    margin: auto;
    min-height: 500px;
    padding: 30px 0;
}

.section-title {
    padding-bottom: 50px;
    font-size: 25px;
}

.section-radio {
    padding-bottom: 3rem;
}

.section-radio span {
    padding-right: 3rem;
}

.section-content {
    gap: 1rem;
    flex-wrap: wrap;
}

.col {
    border: 1px solid lightgrey;
    width: calc((100% - 2rem) / 3);
    flex-grow: 1;
    font-size: 14px;
}

.col-header {
    border-bottom: 1px solid lightgrey;
    text-align: center;
    padding: .7rem;
}

.col-content {
    padding: 1.5rem;
}

.col-title {
    padding-bottom: 15px;
    font-size: 25px;
}

.col-price {
    padding-bottom: 15px;
}

.col-term {
    padding-bottom: 30px;
}

.col-list li {
    padding-bottom: 1rem;
}

.col .button {
    padding: 2rem 0;
}

.col .blue-button {
    display: inline-block;
    width: 100%;
}

.col-link {
    padding-bottom: 3rem;
}


.col-rule {
    border: 1px solid lightgrey;
    width: 45px;
    margin-bottom: 3rem;
}

.col-subtitle {
    padding-bottom: 2rem;
}

